.digitalProductBannerRow{
    margin: 83px 108px 60px !important;
}
.digitalProductBannerHeading{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 66px;
    color: #263238;
}

.colorText{
    color: #D52D34;
}

.digitalProductBannerDescription{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.7);
    justify-content: center;
}

.somethingTogetherText{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #D52D34;
    display: flex;
}

.rightArrowDiv{
    width: 22px !important;
    height: 22px;
    color: #D52D34;
    transform : translate(0, +35%); 
    margin-left: 10px;

}

@media only screen and (max-width: 600px) and (min-width: 280px)  {
    .digitalProductBannerRow{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .digitalProductBannerHeading{
        font-size: 16px;
        line-height: 19px;
    }

    .digitalProductBannerDescription{
        font-size: 11px;
        line-height: 28px;
    }

    .somethingTogetherText{
        display: unset;
        font-size: 18px;
        line-height: 23px;
    }
    .rightArrowDiv{
        width: 17px !important;
        height: 18px;
        color: #D52D34;
        transform: translate(0,0);
        margin-left: 1px;
    }
}