.digitalProductBannerRow{
    margin-bottom: 60px;
}
.digitalProductBannerHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 66px;
    color: #263238;
}

.colorText{
    color: #D52D34;
}

.digitalProductBannerDescription{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.7);
    justify-content: center;
}

.somethingTogetherText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #D52D34;
}