.ourClientsHeadingDiv{
    text-align: center;
}

.ourClientsHeading{
    font-style : normal;
    font-weight: 600;
    font-size  : 16px;
    line-height: 24px;
    color      : #D52D34;
}

.ourClientsSubHeading{
    font-style : normal;
    font-weight: 600;
    font-size  : 40px;
    line-height: 60px;
    color      : #263238;
}

.ourClientsProjectsCol{
    display        : flex;
}

.ourClientsProjectsDiv{
    width        : 320px;
    background   : #FFFFFF;
    border       : 2px solid rgba(0, 0, 0, 0.12);
    box-sizing   : border-box;
    border-radius: 10px;
    margin-right : 50px;
    overflow     : hidden;
    text-align   : center;
}

.ourClientsProjectsDiv img{
    margin-top: 40px;
}

.projectDescription{
    font-style : normal;
    font-weight: 400;
    font-size  : 16px;
    line-height: 32px;
    text-align : center;
    color      : rgba(0, 0, 0, 0.7);
    margin     : 40px  35px 29px;
}